.main-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 16px;
    justify-content: center;
    gap: 16px;
}

.card {
    width: 100%;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.card img {
    max-height: 180px;
    object-fit: cover;
    cursor: pointer;
}

.main-title {
    padding-top: 32px;
    text-align: center;
    margin-bottom: 16px;
    font-size: 2rem;
}

.card .card-content {
    padding: 16px;
    cursor: pointer;
}

.card .card-header {
    font-size: 1.25rem;
    margin-bottom: 8px;
}

.card .card-description {
    font-size: 1rem;
    color: #666;

}

.card .card-content.extra {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.link:hover {
    color: darkcyan;
}

.link-create-post {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.card-footer-container {
    display: flex;
    justify-content: space-between;
}

.delete-button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: transparent none !important;
    font-weight: 400;
    border-radius: .28571429rem;
    text-transform: none;
    color: rgba(0, 0, 0, .6);
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-shadow: none;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    user-select: none;
    box-shadow: 0 0 0 1px #db2828 inset !important;
    color: #db2828 !important;
}

.edit-button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: transparent none !important;
    font-weight: 400;
    border-radius: .28571429rem;
    text-transform: none;
    color: rgba(0, 0, 0, .6);
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-shadow: none;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    user-select: none;
    box-shadow: 0 0 0 1px #21ba45 inset!important;
    color: #21ba45!important;
}

.ui.card {
     margin: 0 !important;
}

.content {
    cursor: pointer !important;
}

